// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------
.float-right {
  float: right;
}

.float-left {
  float: left;
}

.img--center {
  display: block;
  margin: 0 auto;
}

.circle {
  border-radius: 50%;
}

.pointer {
  cursor: pointer;
}