@charset 'UTF-8';
// 1. Configuration and helpers
@import 'abstracts/variables',
'abstracts/functions',
'abstracts/mixins';
// 2. Vendors
@import 'vendor/normalize', 'vendor/bs-overrides';
// 3. Base stuff
@import 'base/base',
'base/fonts',
'base/typography',
'base/helpers';
// 4. Layout-related sections
@import 'layout/header',
'layout/footer',
'layout/navbar';
// 5. Components
@import 'components/searchbar',
'components/post',
'components/project',
'components/imageSlider',
'components/reactlogo',
'components/login';

// 6. Page-specific styles
@import 'pages/about', 'pages/profile';
// 7. Themes
@import 'themes/default';
